<link rel="stylesheet" href="~/css/auctionpage.css"/>
<header>
    <h1>@ViewBag.Sale.ProductName</h1>
    <p>Created by: @ViewBag.Sale.Owner.FirstName</p>
    <a href="current">Home</a>
    <a href="/">Logout</a>
</header>
<p>Time remaining: @ViewBag.Sale.Remaining days</p>
<p id="desc">@ViewBag.Sale.Description</p>
@{
    //if this item is owned by the current user and has no bids
    if(ViewBag.Sale.OwnerId == ViewBag.User.Id && ViewBag.Sale.TopBid.Amount == 0.00)
    {
        <p>This is your auction.</p>
        <p>Sorry, nobody has bid on this yet.</p>
        <p>Starting bid: @ViewBag.Sale.StartingBid</p>
    }//if this item is owned by the current user and has been bid on
    else if(ViewBag.Sale.OwnerId == ViewBag.User.Id && ViewBag.Sale.TopBid.Amount > 0.00)
    {
        <p>This is your auction.</p>
        <p>Current bid: @ViewBag.Sale.TopBid.Amount</p>
    }//if current user is the top bidder of this item
    else if(ViewBag.Sale.TopBid.BidUserId == ViewBag.User.Id)
    {
        <p>Congrats, @ViewBag.User.FirstName, you have the current highest bid!</p>
        <p>Current bid: @ViewBag.Sale.TopBid.Amount</p>
    }//if nobody has bid on this item
    else if(ViewBag.Sale.TopBid.Amount == 0)
    {
        
        @Html.ValidationSummary(false, "")
        <div class="bidleft">
            <p>Starting bid: @ViewBag.Sale.StartingBid</p>
        </div>
        <div class="bidright">
            <form action="/auctions/@ViewBag.Sale.Id/Bid" method="POST">
                <input type="number" name="newBid" placeholder="Your bid goes here..." step=".01">
                <br>
                <input type="submit" value="Bid!!" id="bidbutton">
            </form>
        </div>
    }
    else
    {
        @Html.ValidationSummary(false, "")
        <div class="bidleft">
            <p>Current Highest Bid:</p>
            <p>$@ViewBag.Sale.TopBid.Amount</p>

        </div>
        <div class="bidright">
            <p>By @ViewBag.Sale.TopBidUser.FirstName @ViewBag.Sale.TopBidUser.LastName</p>
            <form action="/auctions/@ViewBag.Sale.Id/Bid" method="POST">
                <input type="number" name="newBid" placeholder="Your bid goes here..." step=".01">
                <br>
                <input type="submit" value="Bid!!" id="bidbutton">
            </form>
        </div>
    }
}

